*.swp
.#*
*.o
*.tmp
*.temp
*~
.svn
.ssh
.private
.Private
.bash_history
.cache
.compiz
.config
.dbus
.dc++
.ecryptfs
.evolution
.fontconfig
.gconf
.gnome2
.gftp
.local
.mozilla
.openoffice.org
.purple
.thumbnails
.xmonad/xmonad-i386-linux
.wine
Desktop
Documents
Downloads
Music
programs
Public
workspace
Screenshots
