XTerm*faceName: terminus
XTerm*faceSize: 12
XTerm*background: black
XTerm*foreground: white
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48 

XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

XTerm*metaSendsEscape: true
